@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'BonmyeongjoSourceHanSerif';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}


*{
    margin : 0px;
    padding: 0px;
}

body{
    background-color: rgb(175, 175, 175);
}

#container{
    width: 1420px;
    margin: 0 auto;
    display: flex;
}

#mainContents{
    width: 100%;
    background-color: #f7f6f3;
}


.row{
    width: 100%;
    display:flex;
}

.row2{
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.row3{

    width: 100%;
    display:flex;
    justify-content:center;

}

.col1{width: 8.3%; padding:0.2rem;}
.col2{width: 16.6%; padding: 0.2rem;}
.col3{width: 24.9%; padding: 0.2rem;}
.col4{width: 33.2%; padding: 0.2rem;}
.col5{width: 41.5%; padding: 0.2rem;}
.col6{width: 49.8%; padding: 0.2rem;}
.col7{width: 58.1%; padding: 0.2rem;}
.col8{width: 66.4%; padding: 0.2rem;}
.col9{width: 74.7%; padding: 0.2rem;}
.col10{width: 83%; padding: 0.2rem;}
.col11{width: 91.3%; padding: 0.2rem;}
.col12{width: 100%; padding: 0.2rem;}

.h-10{height:10px;}
.h-20{height:20px;}
.h-40{height:40px;}
.h-50{height:50px;}
.h-80{height:80px;}
.h-100{height:100px;}
.h-200{height:200px;}

.bg-white{background-color: white;}


a{
    color: black;
    text-decoration: none;
}

.menu{

    list-style: none;

    font-family: 'Escoredream';
    font-weight: 200;
    font-size: 1.2rem;
}

.text-title{
    font-family: 'Escoredream';
    font-weight: 300;
    font-size: 2.4rem;

}

.text{
    font-family: 'Escoredream';
    font-weight: 200;
    font-size: 0.8rem;

}

  .wrapper {
    width: 900px;
    margin: 5px auto;
    padding: 5px;
    border: 3px solid #000;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    border: 1px solid #333;
    justify-content: center;
    align-items: center;
   
    padding: 10px 15px;
  }

  /* 왼쪽 이미지 칼럼 */
  .img-box {
    width: 220px;
    height: 60px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .img-box img {

    object-fit: cover;
    display: block;
  }

footer p{padding: 5px 6px;}
#footer{
    width: 100%;
    height: 160px;
    margin: 0 auto;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'BonmyeongjoSourceHanSerif';
    font-weight: 200;
    font-size: 0.8rem;
}

.imgsizeBox{
    width: 100%;
}

.imgsize{
    width: 100%;
    object-fit: contain;
}


@media(max-width:768px){


    
    *{
        margin : 0px;
        padding: 0px;
    }

    body{
        background-color: rgb(175, 175, 175);
    }

    #container{
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    #mainContents{
        width: 100%;
        background-color: #f7f6f3;
    }

    .row{
        width: 100%;
        display:flex;
    }

    .row2{
        width: 100%;
        display:flex;
        justify-content: space-between;
    }

    .row3{

        width: 100%;
        display:flex;
        justify-content:center;

    }

    .col1{width: 4%; padding:0.2rem;}
    .col2{width: 8%; padding: 0.2rem;}

    .col3{width: 24.9%; padding: 0.2rem;}
    .col4{width: 33.2%; padding: 0.2rem;}
    .col5{width: 41.5%; padding: 0.2rem;}
    .col6{width: 49.8%; padding: 0.2rem;}

    .col7{width: 78%; padding: 0.2rem;}

    .col8{width: 66.4%; padding: 0.2rem;}
    .col9{width: 74.7%; padding: 0.2rem;}
    .col10{width: 83%; padding: 0.2rem;}
    .col11{width: 91.3%; padding: 0.2rem;}
    .col12{width: 100%; padding: 0.2rem;}

    .h-10{height:10px;}
    .h-20{height:20px;}
    .h-40{height:40px;}
    .h-50{height:50px;}
    .h-80{height:40px;}
    .h-100{height:100px;}
    .h-200{height:75px;}

    .bg-white{background-color: white;}


    a{
        color: black;
        text-decoration: none;
    }

    .menu{

        list-style: none;

        font-family: 'Escoredream';
        font-weight: 200;
        font-size: 0.76rem;

    }

    .text-title{
        font-family: 'Escoredream';
        font-weight: 300;
        font-size: 2rem;

    }

    .text{
        font-family: 'Escoredream';
        font-weight: 200;
        font-size: 0.5rem;

    }

    .wrapper {
        width: 300px;
        margin: 2px auto;
        padding: 2px;
        border: 4px solid #000;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        border: 1px solid #333;
        justify-content: center;
        align-items: center;
    
        padding: 3px 3px;
    }

    /* 왼쪽 이미지 칼럼 */
    .img-box {

        width: 100px;
        height: 40px;
        
       justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .img-box img {

        width:100px;
        object-fit: cover;
        display: block;

    }

    footer p{padding: 5px 6px;}
    #footer{
        width: 100%;
        height: 130px;
        margin: 0 auto;
        display: flex;
        background-color: white;
        justify-content: space-evenly;
        align-items: center;

        font-family: 'BonmyeongjoSourceHanSerif';
        font-weight: 200;
        font-size: 0.6rem;
    }


    .logo-pc .col1{ width: 18%; }
    .logo-pc .col2{width: 28%;}

    .mov-down9{
   
    position: absolute;
    top:10px;
    }

    .imgsizeBox{
        width: 100%;
    }

    .imgsize{
        width: 110%;
        object-fit: contain;
    }

    .imglogo{
        width: 14%;
        object-fit: contain;
    }




}

